body {
    background: #051D3B;
    overflow-y: scroll;
    margin:0px 0px 0px 0px;

}
::placeholder{
    color: #ffffff;
    opacity: 0.64;
}
header {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 2rem 2rem 1.5rem;
    background: #051D3B;
}

#logoAlura{
    width:145px;
    height: 34.5px;
    display: flex;    
}
.nav-list{
    width:77.3255%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-search{
    display: none;
}

.searchBox {
    width:70.67%;
    height: 56px;
    display:flex;  
    padding: 0px;    
}
#searchInput{
    flex-basis: 100% ;
    padding:16px 14px 16px 14px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border:hidden;
    flex-grow: 0;
}
#user-identificator{
    width:10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}


@media(max-width:600px){
    .nav-list{
        justify-content: end;
    }
    .searchBox{
        display:none;
    }
    .icon-search{
        display:block
    }
    #user-identificator{
        display:none
    }
}
